/* General Port Element Styling */
.port-element 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto; 
}

/* Port Box - Text & Port */
.connector-box 
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

/* Input Ports - Text Right, Port Left */
.input.connector-box 
{
    justify-content: flex-start;
}

/* Output Ports - Text Left, Port Right */
.output.connector-box 
{
    justify-content: flex-end;
}

/* Output Port Label */
.connector-text-output {
    font-size: 12px;
    color: white;
    min-width: 0;                 
    max-width: 120px;
    -unity-text-align: middle-right;
    flex-grow: 1;
    flex-shrink: 1;               
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Input Port Label */
.connector-text-input {
    font-size: 12px;
    color: white;
    min-width: 0;                 
    max-width: 120px;
    -unity-text-align: middle-left;
    flex-grow: 1;
    flex-shrink: 1;               
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* Output Port Cap */
.connector-cap-output
{
    width: 12px;
    height: 12px;
    background-color: rgb(180, 180, 180);
    border-radius: 50%;
    margin: 2px 5px;  
    flex-shrink: 0;
    align-self: flex-end;
    margin-right: -4px;
}

/* Input Port Cap */
.connector-cap-input
{
    width: 12px;
    height: 12px;
    background-color:  rgb(0, 120, 255);
    border-radius: 50%;
    margin: 2px 5px;  
    flex-shrink: 0;
    align-self: flex-start;
    margin-left: -4px;
}